/*octagon landing page*/

.hero {
  margin-top: 65px;
}

.hero img {
  width: 100%;
}

.content {
  margin-top: 50px;
}

.footer {
  background-color: black;
  height: 90px;
  margin-top: 50px;
}

.footer p {
  display: inline-block;
  padding-top: 30px;
  text-align: center;
}

.footer p a {
  color: white;  
}

/*octagon form page*/

.form-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}